#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

.page_task {
    //height: -webkit-fill-available;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;

    .main {
        flex: 1;
    }
}

.task-panel {
    //height: -webkit-fill-available;
    //display: flex;
    //-webkit-box-orient: vertical;
    //-webkit-box-direction: normal;
    //flex-direction: column;
    //-webkit-box-pack: center;
    //justify-content: center;

    .ant-row {
        flex: 1;
    }

    .sub-panel {


    }

    .ant-card {
        height: 100%;

        .ant-card-body {
            height: 300px;
            overflow: auto;
        }

    }

    .auto-size {
        .ant-card-body {
            height: 100%;
            overflow: auto;
        }
    }

}

.bt-16 {
    margin-bottom: 16px;
}

.action-bar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}


.ant-card-wider-padding .ant-card-head,
.ant-card-head {
    padding: 0 10px;
    min-height: 30px;

    .ant-card-head-title,
    .ant-card-extra {
        padding: 5px 0;
    }
}

.fullwidth {
    width: 100%;
}

.ant-select-selection,
.ant-input,
.ant-btn {
    border-radius: 0;
}
